@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {
  --color-primary_color: #F4B618;
  --color-primary_light: #fde68a;
  --color-primary_dark: #b45309;
  --color-primary-hover: #BF27D7;
  --color-green_color: #01572E;
  --color-primary_red: #C00A27;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
    }
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins), sans-serif;
}
/* .heading:after {
    background: #F4B618;
    content: '';
    display: block;
    height: 3px;
    width: 60px;
    margin-top: 7px;
} */

.heading:after {
    background: none repeat scroll 0 0 transparent;
    content: '';
    display: block;
    height: 2px;
    background: #F4B618;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}

.heading:hover:after {
    width: 100%;
    left: 0;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #F4B618;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background: #014022;
}

@theme {
  /* Tailwind 4 me custom animation aise add hoti hai */
  @keyframes shimmer {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
  }
}
button {
  cursor: pointer;
}

/* skeleton loading wave animation */

.shimmer-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #f3f4f6; /* Gray-200 */
}

.shimmer-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
}